<%- include('partials/header'); -%>

<p class="game-note1">** CLICK a character picture below to start playing the game!</p>
<br />
<!-- <p class="game-note2">** NOTE: some functionality associated with individule character play, such as score tracking, auto-leveling, word associations, etc. will not be available until the next release.</p> -->
<ul class="characters">
	<li class="character">
		<a href="http://localhost:3000/" target="_blank">
			<img src="/hd-coolguy.png" alt="cool-guy-character"
		/></a>
    
		<h4>Cool Guy: Level I</h4>
		<p>
			Playing the Cool Guy; you must be thinking, EZ-PZEE, I got this how tough can it be on a Level I? Remember the
			words can still trip you up at Level I. But you can do it! <br>Keep playing
			until you get 100% of the words in the game correct. At 100% you'll automatically be
			promoted to Level II. If you goof-up at Level II and score
			below 100% 3 x's you will automatically be demoted back to Level I.
			Oh, btw, your Level I words will be a different set than previously
			assigned...meaning you'll never get the same words you previously
			had.
		</p>
	</li>

	<li class="character">
		<a href="http://localhost:3000/" target="_blank">
			<img src="/hd-sassygirl.png" alt="sassy girl character"
		/></a>
		<h4>Sassy Girl: Level II</h4>
		<p>
			Ready to play the Sassy Girl; if you think you have the "whatever"
			aptitude for Level II, start here! Get 100% and move to Level
			III...but be carefull. If you don't get 100% after 3 game trys, you're
			automatically demoted to Level I.
		</p>
	</li>

	<li class="character">
		<a href="http://localhost:3000/" target="_blank">
			<img src="/hd-catgirl.png" alt="cat girl character"
		/></a>
		<h4>Cat Girl: Level II</h4>
		<p>
			So you love cats, but do you think you're as cunning as a cat? If
			you think you got what it takes to start at Level II, go for it!
			...but be carefull. If you don't get 100% after 3 game trys, you're
			automatically demoted to Level I.
		</p>
	</li>

	<li class="character">
		<a href="http://localhost:3000/" target="_blank">
			<img src="/hd-fisherbob.png" alt="fisher bob character"
		/></a>
		<h4>Fisher Bob: Level I</h4>
		<p>
			Nothing like being real, meaning you take the Fisher Bob vibe of
			just chillin. I like it! Good approach, but don't stay so chill you miss the
			big fish! (pun intended 😂). Once you get 100% in your game, you're
			automatically moved to the next level, Level II. If you lose 3 games on Level II you're back to Level I...I know, it's your comfort zone. Of course when or if you make it
			to Level III and you miss 3x's there, you're only demoted to Level II.
		</p>
	</li>

	<li class="character">
		<a href="http://localhost:3000/" target="_blank">
			<img src="/hd-nerdo.png" alt="nerdo guy character"
		/></a>
		<h4>Nerdo: Level III</h4>
		<p>
			So you think you're a nerd...smart...ultimate can't lose!?</p>
       <p>Hey, who
			am I to judge, go for it... it's your brain... ok, just pickin, it's
			yours to play! Even better yours to win; you may be  going to the bonus
			rounds.</p> 
      <p>Bonus Rounds? What? Yep, everytime you get 100% of game's play, your next word rounds will become harder and harder.</p>
      
      <p>Coming soon, you will get to select the catagory to play, e.g. science, math, fruit, veggies, domestic animals, wild
			animals...you get the point.
    </p>
      <p>Just remember, if you lose 3 games
			you're automatically dropped to the next level down. However, in
			Level III, since there's the bonus twist, I'll give you an example of how dropping down works.<br />EXAMPLE:
			Bonus round > Level III > Level II > Level I.
    </p>
		</p>
	</li>
</ul>

<p class="game-note2">** NOTE: some functionality associated with individule character play, such as score tracking, auto-leveling, word associations, etc. will not be available until the next release.</p>

<%- include('partials/footer'); -%>
