<%- include('partials/header'); -%>

<header>
	<div class="game-play-img">
		<img src="/full-coolguy.png" alt="" />
	</div>
	<div class="hm-headings">
		<h2>Enter Game-Play</h2>
		<h3>
			By Tim Peters & Robert Holland<br />
			... 2022 KU Project Final
		</h3>
		<a href="/gameplay" class="btn">> Game-Play</a>
	</div>
</header>

<%- include('partials/footer'); -%>
