<!DOCTYPE html>
<html lang="en">

<body class="container">

<header>
  <%- include('partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>HANGMAN</h1>
  </div>
</main>

<footer>
  <%- include('partials/footer'); %>
</footer>

</body>
</html>