<&percnt;- include('partials/header'); &percnt;>

<main>
   <div class="ui grid segment ">
    <form action ="http://localhost:3001/login" method="POST">
      <input type="text" name="fullname" placeholder="Full Name">
      <input type="text" name="username" placeholder="username">
      <input type="text" name="password" placeholder="password">
      <button type="submit">Login </button> 
  </form>
   </div>
</main>

<
footer >
  <&percnt;- include('partials/footer'); &percnt;>
</footer>

  <
  /body> <
  /html>