<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>
<body class="container">
<div>

</div>
<main>
<div class="row">
  <form action ="http://localhost:3000/register" method="POST">
    <input type="text" name="fullname" placeholder="Full Name">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <button type="submit">Sign up </button> 
</form>
</div>
</main>


</body>


</html>